a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.index-header{
  padding: 1rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.list-links{
  display: flex;
  flex-direction: column;
  margin-right: auto; 
  font-size: 11pt;
  margin-left: auto;
  margin-right: 0;
}
.list-link-item {
  margin-left: auto; 
  margin-right: 0;
}
.lookup_results_table_container{
  padding-top: 32pt;
  padding-bottom: 32pt;
}
.table_container {
  margin-bottom: 2rem;
  border: 1pt solid lightgrey;
  border-radius: 5pt;
  overflow-y: auto;
  max-height: 80%;
}
table{
  width: 100%;
  table-layout: fixed;
  border-radius: 10pt;
  border-collapse: collapse;
  overflow-wrap: break-word;
  text-align: left;
  position: relative;
}
th {
  color: black;
  position: sticky;
  top: 0;
  background: lightgrey;
}
th, td {
  padding: 6pt;
  font-size: 11pt;
}
a:hover {
  text-decoration: none;
}
.item-container {
  display: grid;
  grid-template-columns: 300px auto;
}
.viewer-title{
  padding: 20pt 0pt 20pt 0pt;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.pagination {
  padding: 0pt 0pt 12pt 0pt;
}
.pagi-selector {
  width: 100px;
}
.pagi-currentpageblock {
  padding: 10px;
  background-color: darkgray;
  color: white;
}
.device-controls-column h2{
  font-size: 14pt;
}
.device-report-content {
  padding: 1rem;
}
.report-heading {
  font-size: 14pt;
  font-weight: 500;
}
.selected-report {
  font-weight: 600;
}
.device_form_container{
  margin: 2rem 0rem;
  display: grid;
}
.details-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 20px;
  padding: 0px 0px 12px 0px;
}
.details-container p{
  font-size: small;
  margin-bottom: 0.5rem;
}
.software_table td{
  font-size: smaller;
}
.device_form_row{
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin: 10pt 2pt;
}
.lookup_results_table {
  margin: auto;
  border: 1px solid ;
  border-color: lightgray;
  width: 80%;
}
.lookup_form_row{
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  gap: 8pt;
  margin: 5pt 2pt;
}
.content{
  padding-top: 4rem;
}
.report_key_item{
  text-align: right;
  padding-right: 5px;
}
.list_grid_item{
  padding-left: 6pt;
  padding-right: 6pt;
  font-size: small;
}
.mini-search-button {
  margin: 0px 10px 0px 10px;
}
.toolbar-search-input {
  width: 20rem;
  height: 2.2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: none;
  vertical-align: middle;
  margin: 0pt 18pt 0pt 18pt;
  padding: 0pt 6pt 0pt 6pt;
}
.nav-item {
  padding: 0pt 6pt 0pt 0pt;
}
a.nav-link {
  color: darkgray;
}
