a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.heading{
  padding: 1rem 0rem;
  display: grid;
  grid-template-columns: 5fr 2fr;
  justify-content: end;
}
.list_links{
  text-align: right;
  font-size: 11pt;
}
.table_container {
  margin-bottom: 2rem;
  border: 1pt solid lightgrey;
  border-radius: 5pt;
  overflow-y: auto;
  max-height: 80%;
}
table{
  width: 100%;
  table-layout: fixed;
  border-radius: 10pt;
  border-collapse: collapse;
  overflow-wrap: break-word;
  text-align: left;
  position: relative;
}
th {
  color: black;
  position: sticky;
  top: 0;
  background: lightgrey;
}
th, td {
  padding: 6pt;
  font-size: 11pt;
}
a:hover {
  text-decoration: none;
}
.item-container {
  display: grid;
  grid-template-columns: 300px auto;
}
.item-view-left {
  background-color: whitesmoke;
  padding: 1rem;
  height: 100vh;
  position: sticky;
}
.item-view-right {
  background-color: white;
  padding: 1rem;
}
.device-controls-column h2{
  font-size: 14pt;
}
.device-report-content {
  padding: 1rem;
}
.report-heading {
  font-size: 14pt;
  font-weight: 500;
}
.selected-report {
  font-weight: 600;
}
.device_form_container{
  margin: 2rem 0rem;
  display: grid;
}
.device_form_row{
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin: 10pt 2pt;
}
.content{
  padding-top: 4rem;
}
.nav-item{
  padding-right: 1.6rem;
}
.navbar-text{
  color: white;
}
.reporter-navbar{
  display: flex;
  vertical-align: top;
}
.report_list_grid_row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4fr;
  padding: 5pt;
  border-bottom: 1pt solid lightgray;
}
.report_list_grid_item{
  padding-left: 6pt;
  padding-right: 6pt;
  font-size: small;
}
.report_grid_row{
  display: grid;
  grid-template-columns: 1.5fr 6fr;
  font-size: small;
  padding-bottom: 5px;
}
.report_key_item{
  text-align: right;
  padding-right: 5px;
}
.device_list_grid_row{
  display: grid;
  grid-template-columns: 0.8fr 0.9fr 1.1fr 1fr 1fr 1fr;
  padding: 5pt;
  border-bottom: 1pt solid lightgray;
}
.list_grid_item{
  padding-left: 6pt;
  padding-right: 6pt;
  font-size: small;
}
.user_journal_list_grid_row{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 5pt;
  border-bottom: 1pt solid lightgray;
}
.journal_list_grid_row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5fr;
  padding: 6pt;
  border-bottom: 1pt solid lightgray;
}
.journal_list_grid_item{
  padding-left: 6pt;
  padding-right: 6pt;
  font-size: small;
}
.user_list_grid{
  padding: 4pt;
}
.user_list_grid_row{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 2fr 1fr 1.5fr 2fr;
  padding: 5pt;
  border-bottom: 1pt solid lightgray;
}
.user_list_grid_row:hover{
  background-color: rgb(229, 229, 229);
}
.user_list_grid_item{
  padding-left: 6pt;
  padding-right: 6pt;
  font-size: small;
}
.toolbar-searchform {
  vertical-align: middle;
}
.mini-search-button {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 2.2rem;
  width: 2.5rem;
  border: none;
  vertical-align: middle;
  position: relative;
  left: -3px;
}
.toolbar-search-input {
  width: 20rem;
  height: 2.2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: none;
  vertical-align: middle;
  padding: 6pt;
}
.toolbar-searchbox {
  padding: 0px 10px 0px 10px;
}